.container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.h2 {
  margin-bottom: 15px;
}

.ul {
  list-style: none;
  padding: 0;
}

.li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.verifyButton {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
}

.rejectButton {
  background-color: #ff4d4d;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}
