.hero {
  display: flex;
  justify-content: center;
  background-image: url('/fondo-laburandoapp.png');
  background-size: cover;

  
}



.imageTextWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.imageContainer {
  flex-shrink: 0;
}

.statusItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}




.statusText {
  font-weight: 600;
  font-size: 1.1rem;
  color: #fcd93f;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}



.heroTitle {
  font-size: 2.5rem;
  color: #111;
  font-weight: 600;
}

.heroSubtitle {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 1rem;
  font-weight: 500;
  text-align: center;
}

.heroSubtitle span {
  color: #fff;

  font-weight: bold;
}

.searchSection {
  width: 100%;
  text-align: center;
}
.searchSection span {
  color: #fff;
  font-size: 1rem;
  font-weight:800;
}

.ctaModernButtonFull {
  color: #fff;
  padding: 0.3rem 0.8rem;
  border-radius: 50px;
  border: #fff solid 3px;
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  font-family: poppins;
  background: bottom;
}
.iconCircle {
  margin-left: 5px;
  
  display: inline-flex;

  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px
}
.ctaModernButtonFull:hover {
  transform: translateY(-2px) scale(1.02);
  background-color: #111;
}

/* Responsive */
@media (max-width: 768px) {
  .imageTextWrapper {
    flex-direction: column;
    text-align: center;
  }

  .textContent {
    align-items: center;
  }
  .heroTitle {
    font-size: 1.3rem;
    margin-bottom: 0px;
  }
  .heroSubtitle {
    font-size: 1rem;
    margin-bottom: 0px;
  }
  
  .heroSubtitle span {
    font-size: 1rem;
  }
  
  .statusItem {
    height: 240px;
    width: 200px;
    margin: 0 auto;

  }
 
.ctaModernButtonFull {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 0.8rem;
  margin-bottom: 50px;
  margin-top: 10px;
  } 
  .searchSection {
    flex-direction: column;
    align-items: center;
  }
  .searchInput {
    width: 100%;
    margin-bottom: 1rem;
  }
}
