.section {
    padding: 3rem 1.5rem;
    background-color: #fff;
  }
  
  .title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  
  .card {
    background: #f9f9f9;
    border-radius: 12px;
    padding: 1.5rem;
    width: 280px;
    text-align: center;
    box-shadow: 1px 1px 8px 2px rgba(10, 10, 10, 0.44);
  }
  

  
  .comment {
    font-style: italic;
    margin-bottom: 1rem;
    color: #444;
  }
  
  .rating {
    font-size: 1.2rem;
    color: #FFD700;
  }
  
  .name {
    font-weight: 600;
    color: #333;
    margin-top: 0.5rem;
  }
  