.verificacionBox {
  padding: 30px;
}
.actualizarBox {
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }
  .main {
    padding: 50px !important;
  }
  .actualizarBox h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #222;
  }
  
  .actualizarBox label {
    font-weight: 600;
    margin-top: 0.75rem;
    display: block;
    color: #444;
  }
  
  .actualizarBox input[type="file"] {
    margin-top: 0.3rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9f9f9;
    width: 100%;
  }
  
  .saveButton {
    background-color: #fcb500;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 1rem;
  }
  
  .saveButton:hover {
    background-color: #e0a800;
  }
  
  .mensaje {
    margin-top: 1rem;
    font-weight: 600;
  }
  