.carouselSection {
    padding: 0rem 4rem;
    text-align: center;     
    font-family: poppins, sans-serif;
    font-size: 1rem;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;
  }

  .carouselSection h2 {
    font-size: 2.0rem;
    margin-bottom: 1rem;
    color:black ;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    display: inline-block;
    font-weight: 300;
  }
  .carouselSection h2 strong {
    font-weight: 600;
    color: #fcd03f;
  }
  
  .carousel {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
    margin-top: 30px;
  }
  
  .card {
    flex: 0 0 auto;
    width: 300px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    scroll-snap-align: start;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 260px;
    object-fit: cover;
  }
  
  .info {
    padding: 1rem;
    text-align: center;
  }
  
  .action {
    margin-top: 0.5rem;
    background-color: #fcd03f;
    color: #fff;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    font-family: poppins, sans-serif;
  }
  
  .action:hover {
    background-color: #ffaa00;
  }
 .servicecarrousel {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
    margin-top: 30px;
  }
  
  .servicecard {
    flex: 0 0 auto;
    width: 250px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    scroll-snap-align: start;
    overflow: hidden;
  }
  
  .serviceimage {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  .info {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: black;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    display: inline-block;
    font-weight: 300;
  }
  .info p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: black;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    display: inline-block;
    font-weight: 300;
  }
  .serviceaction {
    margin-top: 0.5rem;
    background-color: #0070f3;
    color: #fff;
    border: none;}

    @media (max-width: 768px) {
    .carouselSection {
      padding: 2rem;
      margin-top: 0%;
    }
   
  }