.dashboardContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.credits {
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
}

.buyCreditsButton {
  background-color: #fcd03f;
  color: rgb(255, 253, 253);
  border-radius: 8px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-left: 20px;
  }

.buyCreditsButton:hover {
  background-color: #ffaa00;
}

.solicitudesList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}
